/*
!.gitignore
!.vim
!.vimrc
.vim/.VimballRecord
.vim/.netrwhist
.vim/bin
.vim/eclim
.vim/plugin
.vim/doc
!.oh-my-zsh
!.zsh
.zsh/local.sh
!.zshrc
!.bin
!.misc
!.lein
.lein/repl-history
!.ctags
!.keymap
